/*  your css code here. If applicable */
.div-1{
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
    border-bottom: 50px solid yellow;
	position:relative;
	
}
.div-2{
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
    border-top: 50px solid yellow;

	position:absolute;
	top:16px;
	left:-29px;
}